/* header */
body {
  font-family: "Lora", serif;
}
.header-container {
  display: flex;
  background-color: rgb(185, 144, 158);
  justify-content: space-between;
  gap: 100px;
}
.img {
  height: 500px;
  width: 400px;
}
.header-tittle {
  text-align: left;
  font-size: 60px;
  font-weight: 600;
}
.primary-btn {
  background-color: rgb(226, 13, 84);
  color: white;
  padding: 10px;
  border: none;
}
.header-firstpart {
  padding: 150px 10px 50px 150px;
}
.header-secondpart {
  padding: 30px 80px 0px 30px;
  position: right bottom;
}
.header-container .header-lastpart {
  padding: 100px 130px 0px 50px;
}
/* main */
.main-first-section {
  text-align: center;
  margin: 80px 150px 10px 150px;
}
.section-tittle {
  font-size: 30px;
  font-weight: 600;
}
.section-content {
  display: flex;
  justify-content: space-between;
  margin: 10px 100px;
  text-align: center;
  padding: 60px;
  gap: 50px;
  font-display: center;
}
.section-image1 {
  background-color: lightpink;
  background-size: contain;
}
.section-image2 {
  background-color: lightblue;
}
.section-image3 {
  background-color: lightgray;
}
.section-content-added {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  margin: 40px 80px 40px 120px;
  padding: 30px;
  font-display: center;
}
/* second section */
.second-section {
  display: flex;
  justify-content: space-between;
  background-color: lightpink;
}
.second-section-para {
  padding: 100px;
  width: 50%;
}
.section-tittle {
  font-size: 30px;
  font-weight: 700;
}
.primary-btn {
  text-align: center;
  padding: 10px 20px;
}
.second-section-img {
  padding-right: 100px;
  width: 50%;
}
.section-span {
  color: rgb(255, 6, 47);
}
.section-images-container {
  display: flex;
  gap: 10px;
  margin-right: 150px;
  margin-left: 50px;
  justify-content: space-around;
}
.more-pictures {
  text-align: center;

  justify-content: space-around;
}
.hello {
  padding: 10px 45px;
  border-radius: 5px;
  border: none;
}
/* last section */

.final-section {
  padding-top: 80px;
  padding-bottom: 50px;
  margin: 80px 0px;
  display: block;
  text-align: center;
  background-image: url("/Flower Asset/Rectangle\ 9.png");
}

final-section-padding {
  border-radius: 8px;
  padding: 100px;
  text-align: center;
}
/* footer */
footer {
  background-color: black;
  padding: 100px 200px;
  margin-top: 60px;
  color: white;
  text-align: center;
}
.footer-tittle {
  font-size: 40px;
  font-weight: 700;
}
.footer-span {
  color: rgb(233, 93, 116);
}
.footer-para {
  color: rgb(192, 183, 183);
  font-size: small;
}
